@model Volcano.Models.Member

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>PROFILE</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item active">Change Password</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row my-5">
    <div class="col-lg-11 col-sm-11">
        <form class="needs-validation" validate action="~/Home/UpdatePassword" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">

                    <input type="hidden" class="form-control" name="Member_ID" value="@Model.Member_ID" readonly>
                    <input type="hidden" class="form-control" name="First_Name" value="@Model.First_Name" readonly>
                    <input type="hidden" class="form-control" name="Role" value="@Model.Role" readonly>
                    <input type="hidden" class="form-control" name="Last_Name" value="@Model.Last_Name" readonly>
                    <input type="hidden" class="form-control" name="Email" value="@Model.Email" readonly>
                    <input type="hidden" class="form-control" name="Phone" value="@Model.Phone" readonly>

                </div>
                Password Must be 6 Digits at Least.<br />
                (Border Must be Green to Change Password and Confirm)
                <div class="col-md-6 mb-3">
                    <label for="lastName">New Password </label>
                    @Html.PasswordFor(n => n.Password, new { @placeholder = "Password", @class = "form-control" ,id="pass" ,onblur="CheckPass(1)"})
                    @Html.ValidationMessageFor(n => n.Password, "", new { @class = "text-danger" })
                    <div class="invalid-feedback" id="error-nwl"> Password is Required. </div><br />

                    <label for="lastName">Confirm Password </label>
                    @Html.PasswordFor(n => n.Password, new { @placeholder = "Password", @class = "form-control" ,id="conf" ,onblur="CheckPass(2)"})
                    @Html.ValidationMessageFor(n => n.Password, "", new { @class = "text-danger" })
                    <div class="invalid-feedback" id="error-nwl">Confirm Password is Required. </div>
                </div>

            </div>

            <hr class="mb-1">
            <div class="col-12 d-flex shopping-box">
                <input type="submit" class="ml-auto btn hvr-hover" value="Change Password" />
            </div>
        </form>
    </div>
</div>